*.sln
*.vcxproj
*.csproj
*.filters
*.user
*.zip
*.cache

\.vs/
\.idea/

bin-int/
bin/

!/dependencies/**
dependencies/**/*.zip

packages/

ShadowEngine/docs/html/
ShadowEngine/src/Shaders/**.h

docs-source/metadata/**
docs-source/obj/**

Captures/

ShadowLight/obj/**
ShadowLight/obj/Debug/**

ShadowEngineInterop/obj/
