*.sln
*.vcxproj
##*.csproj
*.filters
*.user
*.zip

\.vs/
\.idea/

bin-int/
bin/


docs-source/metadata/**
docs-source/obj/**


!/dependencies/**
dependencies/**/*.zip

packages/

ShadowEngine/src/Shaders/**.h



Captures/

DemoGame/packages.config

ShadowEngineBuild/obj/
sledge/**/*.csproj
ShadowEngineInterop/**/*.csproj

docs/obj/

docs/output/

.VSCodeCounter/
