[submodule "ShadowEngineBuild/dependencies/TiledSharp"]
	path = ShadowEngineBuild/dependencies/TiledSharp
	url = https://github.com/dpeter99/TiledSharp.git

[submodule "ShadowEngine/dependencies/imgui"]
	path = ShadowEngine/dependencies/imgui
	url = https://github.com/dpeter99/imgui
[submodule "ShadowEngine/dependencies/glm"]
	path = ShadowEngine/dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "ShadowEngine/dependencies/spdlog"]
	path = ShadowEngine/dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ShadowEngine/dependencies/assimp"]
	path = ShadowEngine/dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "docs/templates/docfx-tmpl"]
	path = docs/templates/docfx-tmpl
	url = https://github.com/assimp/assimp.git
[submodule "docs/templates/darkfx"]
	path = docs/templates/darkfx
	url = https://github.com/steffen-wilke/darkfx.git
